.Cover {
  position: relative;
  height: 400px;
  overflow: hidden; /*to not extend outside his bounds */
  width: 100%;
}

.Cover::before { /*create a layer for the background and add background image to it  */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://firesec.co.tz/images/resource/solar%202.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(50%);
  z-index: 1;
}

.TextCover {
  color: white;
}
p.Text1 {
  font-family: "Rakkas", serif;
  font-size: 60px;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 1;

}
p.Text2 {
  font-family: "Rakkas", serif;
  font-size: 60px;
  position: absolute;
  top: 40%;
  left: 25%;
  z-index: 1;
  
}

.color1 {
  background-color: #ffffff;
}

.ServiceCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 60vh;
  
}
.items {
  max-width: 450px;
  text-align: center;
  padding: 20px;
  flex-shrink: 1;
}
.img-items {
  flex-shrink: 0;
}
@media (max-width: 1500px) {
  .ServiceCards {
    flex-direction: column;
    justify-content: flex-start; 
    height: auto;
  }
  .items {
    flex-basis: 20vh;
    flex-shrink: 1;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: 60vh;
  
}
@media (max-width: 600px) {
  .form {
    height: auto;
  }
}
.eingabe {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 40%;
}

.Submit {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
label {
  text-align: left;
}