.Cover {
  position: relative;
  height: 50vh;
  overflow: hidden; /*to not extend outside his bounds */
  width: 100%;
}

.Cover::before { /*create a layer for the background and add background image to it  */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://firesec.co.tz/images/resource/solar%202.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(50%);
  z-index: 1;
}

.TextCover {
  color: white;
}
p.Text1 {
  font-size: 60px;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 1;

}
p.Text2 {
  
  font-size: 60px;
  position: absolute;
  top: 40%;
  left: 25%;
  z-index: 1;
  
}

.color1 {
  background-color: #ffffff;
  border-radius: 8%;
}
.colorGreen {
  color: #00897B;
}

.ServiceCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: auto;
  margin-bottom: 10%;
}
.items {
  max-width: 450px;
  text-align: center;
  background-color: #00897B;
  flex-shrink: 1;
}

.img-items {
  flex-shrink: 0;
}
@media (max-width: 1500px) {
  .ServiceCards {
    flex-direction: column;
    justify-content: flex-start; 
    height: auto;
  }
  .items {
    flex-basis: 20vh;
    flex-shrink: 1;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: auto;
}
.formGrid {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 5%;
}
.formItems {
  flex-basis: 50%;
  flex-shrink: 1;
}
.para {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 20px;
  justify-content:center;
  text-align: center;
  padding: 10%;
  height: auto;
}
@media (max-width: 1000px) {
  .formGrid {
    display: flex;
    flex-direction: column;
    
  }
  .form {
    height: auto;
  }
  .para {
    height: auto;
    /*align-items: flex-start;
    text-align: left;*/
  }
  .formItems {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .form {
    height: auto;
  }
}
.eingabe {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: x-large;
  width: 70%;
}

.Submit {
  color: black;
  padding: 12px 20px;
  border: none;
  
}
label {
  text-align: left;
}

.button {
  background-color: #4DB6AC;
  border-radius: 20px;
}
.button:hover {
  background-color: #00897B;
}

.ueberschrift {
  margin-bottom: 5%;
  margin-top: 5%;
  
}